$color_li-nav: #dfc1d9;
$color_hover: #9f86a2;
$color_card: #69395e;
$color_main-review: #8a6f8d;
$color_review-card: #caa2cb;
$color_search: #9f86a2;
$color_search-h: #542147;
$color_search-form__inputs: #725e68;
$color-footer: #5d3d85;
$color_social-network-h: #C93FFF;
$color_social-network-copy: #4f0a5e;
$color_tour-contact-a: #8a46de;
$color_button-send: #4f0a5e;
$white: white;
$gray: gray;
$sans: 'Source Sans Pro', sans-serif;
$pointer: pointer;
$header_img: url("./../img/4.jpg");
$bckgd-img1: url("./../img/5.jpeg");
$bckgd-img2: url("./../img/6.jpg");
$bckgd-img3: url("./../img/7.jpg");