$color_li-nav: #c1d1df;
$color_hover: #8695a2;
$color_card: #395369;
$color_main-review: #8d6f79;
$color_review-card: #cba2b0;
$color_search: #8695a2;
$color_search-h:#BFD1E1;
$color_search-form__inputs: #5e6872;
$color-footer: #3d5585;
$color_social-network-h: #659afe;
$color_social-network-copy: #0a275e;
$color_tour-contact-a: #467ade;
$color_button-send: #0a275e;
$white: white;
$gray: gray;
$sans: 'Source Sans Pro', sans-serif;
$pointer: pointer;
$header_img: url("./../img/0.jpg");
$bckgd-img1: url("./../img/1.jpg");
$bckgd-img2: url("./../img/2.jpg");
$bckgd-img3: url("./../img/3.jpg");





